<h1>Make your form here</h1>

<form method="POST" action="/pirates/show">

  <p><label for="pirate_name">Pirate Name:</label>
  <input type="text" id="pirate_name" name="pirate[name]"></p>

  <p><label for="pirate_weight">Pirate Weight:</label>
  <input type="text" id="pirate_weight" name="pirate[weight]"></p>

  <p><label for="pirate_height">Pirate Height:</label>
  <input type="text" id="pirate_height" name="pirate[height]"></p>

  <p><label for="ship[name]">Ship Name:</label>
  <input type="text" name="ship[name]"></p>

  <p><label for="ship[type]">Ship Type:</label>
  <input type="text" name="ship[type]"></p>

  <p><label for="ship[booty]">Ship Booty:</label>
  <input type="text" name="ship[booty]"></p>

  <p><label for="ship[name]">Ship Name:</label>
  <input type="text" name="ship[name]"></p>

  <p><label for="ship[type]">Ship Type:</label>
  <input type="text" name="ship[type]"></p>

  <p><label for="ship[booty]">Ship Booty:</label>
  <input type="text" name="ship[booty]"></p>

  <input type="submit">

</form>
